
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


* {
    /* font-family: Montserrat; */
    font-family:'Roboto Slab', serif;
    
}


:root {
    --butalcura-main-color: #290661;
    --butalcura-main-color-light: #966ED8; 
}

html {
    scroll-behavior: smooth;
}



/* navbar custom */

#contact_nav_btn {
    padding: 10px 25px 10px 25px;
    background-color: var(--butalcura-main-color);
    border-color: var(--butalcura-main-color);
    color: #fff;
    border: 1px;
    border-radius: 40px 40px 40px 40px;
    border-style: solid;

}

#contact_nav_btn:hover {
    background-color: var(--butalcura-main-color-light);
    border-color: var(--butalcura-main-color-light);
    font-weight: bold;
}

#contact_nav_btn:focus {

    -webkit-box-shadow: 4px 5px 29px 4px #290661; 
    box-shadow: 4px 5px 29px 4px #290661;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: var(--butalcura-main-color);
    font-weight: bold;
}


.navbar, .navbar-expand {
    padding: 20px;
}


/* footer custom */

footer {
    /* background-color: var(--butalcura-main-color); */
    background-color: #212529
}



footer #text_credits_footer {
    font-size: 13px !important;

}

footer .nav-item > .nav-link.custom.active {
    font-weight: bold;
    color: #fff;
}

footer .nav-item > .nav-link.custom {
    color: var(--butalcura-main-color-light);
}


/* section background image */
@media ( max-width: 500px ) {

    .background_section_small {
        height: 200px !important;
    }

}





/* footer */

@media ( max-width: 576px ) {
    footer #butalcura_logo_footer {
        height: 120px;
    }
}

@media ( min-width: 577px ) {
    footer #butalcura_logo_footer {
        height: 150px;
    }
}



