@import url('./global.style.css');

 div #divCarousel1,  div #divCarousel2 {

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#divCarousel1 {

    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)),  url('../img/optimized/example2.JPG');
    /* background: url('../img/example2.JPG');     */

}

#divCarousel2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)),  url('../img/optimized/example1.JPG');
    /* background: url('../img/torrente.jpg'); */
}


#contact_section {
    /* height: 300px; */
    height: auto;
    background-image: url('../img/optimized/example2.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}


#contact_container {
   background: linear-gradient(45deg, black, transparent);
   /* filter: grayscale(1); */
}

#contact_section_btn {
    font-family: Arial, Helvetica, Lucida, sans-serif;
    background-color: var(--butalcura-main-color);
}

#contact_section_btn:hover {
    font-size: 22px;
}

 .service_content_inside {
    height: 100%;
}


.service_content_img {
    /* background: url('../img/example1.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    background: rgb(41,6,97);
    background: radial-gradient(circle, rgba(41,6,97,1) 7%, rgba(255,255,255,0.9923319669664741) 100%);  
    height: 250px;
}


.parrafo, .parrafo span {
    font-family: Arial, Helvetica, Lucida, sans-serif;;
    text-align: justify;
}

.carousel-inner , .carousel-item {
    height: 550px;
}



.img-fluid {
    height: 400px;
    max-width: 100%;
    /* max-width: 100%; */
    /* max-height: 400px; */
}





/* ------------------------------------------------------------------------------------------------ */















































